<html>
    <title>test</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen" />
    <head></head>
    <body>
        <form id="form1" runat="server">
            <input type='file' id="imgInp"/>
            <div class="panel">Hello World</div>
            <div id="box" style="width:500px;height:250px;overflow: hidden;background-color: blue;">
                <img id="photo" src="#"/>
            </div>
        </form>

        <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/static/js/hammer.min.js"></script>
        <script type="text/javascript">
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photo').attr('src', e.target.result);
                    
                    var myElement = document.getElementById('photo');
                    var $panel = $(".panel");
                    var $photo = $('#photo');
                    var $box = $("#box");

                    var mc = new Hammer(myElement);
                    var press = new Hammer.Press({time: 1});
                    mc.add([press]);
                    mc.get('pan').set({ direction: Hammer.DIRECTION_ALL });

                    var margin_left = 0;
                    var margin_top = 0;
                    mc.on("touchend", function(event){
                        margin_left = parseFloat($photo.css("margin-left"));
                        margin_top = parseFloat($photo.css("margin-top"));
                        console.log(margin_left + ', ' + margin_top);
                        console.log("pressup");
                    });

                    mc.on("panleft panright panup pandown", function(event) {
                        console.log(event);
                        pointer = event.pointers[0];
                        $photo.css({"margin-left": (margin_left + event.deltaX) + "px",
                                    "margin-top": (margin_top + event.deltaY) + "px"});
                        $panel.html(pointer.layerX + ', ' + pointer.layerY + '<br>' +
                                    event.deltaX + ', ' + event.deltaY + '<br>' +
                                    pointer.offsetX + ', ' + pointer.offsetY + '<br>' +
                                    pointer.clientX + ', ' + pointer.clientY + '<br>');
                    });
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function(){
            readURL(this);
        });


        </script>
    </body>
</html>
