<html>
    <title>test</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css" media="screen" />
    <head></head>
    <body>
        <form id="form1" runat="server">
            <input type='file' id="imgInp"/>
            <div id="box" style="width:500px;height:250px;overflow: hidden;background-color: blue;">
                <img id="photo" src="#"/>
            </div>
            
            <input type="button" id="btn_upload" value="Upload"/>

            <div>
                <canvas id="myCanvas" width="500" height="250" style="border:1px solid #000000;">
                </canvas>
            </div>
            <div class="panel">Hello World</div>
        </form>

        <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/static/js/hammer.min.js"></script>
        <script type="text/javascript" src="/static/js/filer.js"></script>
        <script type="text/javascript">
        imageObj = new Image();

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#photo').attr('src', e.target.result);
                    imageObj.src = e.target.result;
                    
                    var myElement = document.getElementById('photo');
                    var $panel = $(".panel");
                    var $photo = $('#photo');
                    var $box = $("#box");

                    var mc = new Hammer(myElement);
                    var press = new Hammer.Press({time: 1});
                    var pinch = new Hammer.Pinch();
                    var rotate = new Hammer.Rotate();
                    pinch.recognizeWith(rotate);
                    mc.add([press, pinch, rotate]);
                    mc.get('pan').set({ direction: Hammer.DIRECTION_ALL });

                    var margin_left = 0;
                    var margin_top = 0;
                    mc.on("press", function(event){
                        margin_left = parseFloat($photo.css("margin-left"));
                        margin_top = parseFloat($photo.css("margin-top"));
                    });

                    mc.on("panleft panright panup pandown", function(event) {
                        pointer = event.pointers[0];
                        $photo.css({"margin-left": (margin_left + event.deltaX) + "px",
                                    "margin-top": (margin_top + event.deltaY) + "px"});
                        transform(margin_left + event.deltaX, margin_top + event.deltaY);
                        $panel.html(pointer.layerX + ', ' + pointer.layerY + '<br>' +
                                    event.deltaX + ', ' + event.deltaY + '<br>' +
                                    pointer.offsetX + ', ' + pointer.offsetY + '<br>' +
                                    pointer.clientX + ', ' + pointer.clientY + '<br>');
                    });

                    var origin_distance = 0;
                    var image_width = parseFloat($photo.css("width"));
                    mc.on("pinchstart", function(event) {
                        pointer1 = event.pointers[0];
                        pointer2 = event.pointers[1];
                        origin_distance = Math.sqrt(
                            Math.pow(pointer1.clientX - pointer2.clientX, 2) +
                            Math.pow(pointer1.clientY - pointer2.clientY, 2)
                        );
                        image_width = parseFloat($photo.css("width"));
                    });

                    mc.on("pinch", function(event) {
                        pointer1 = event.pointers[0];
                        pointer2 = event.pointers[1];
                        distance = Math.sqrt(
                            Math.pow(pointer1.clientX - pointer2.clientX, 2) +
                            Math.pow(pointer1.clientY - pointer2.clientY, 2)
                        );
                        multiple = distance / origin_distance;
                        new_width = image_width * multiple;
                        $photo.css({"width": new_width + "px"});
                        $panel.html(origin_distance + "<br>" +
                                    distance + "<br>" +
                                    JSON.stringify(event));
                    });

                    $("#btn_upload").click(function(event){
                        upload(1, 0);
                    });
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function(){
            readURL(this);
        });

        function upload(zoom_multiple, rotate_angle) {
            canvas = document.getElementById('myCanvas');
            blob = Util.dataURLToBlob(canvas.toDataURL());
            var fd = new FormData();
            fd.append('fname', 'eyes.jpg');
            fd.append('data', blob);
            $.ajax({
                type: 'POST',
                url: '/',
                data: fd,
                processData: false,
                contentType: false
            }).done(function(data) {
                console.log(data);
            });
        }

        function transform(margin_left, margin_top) {
            canvas = document.getElementById('myCanvas');
            context = canvas.getContext('2d');
            context.clearRect(0, 0, 500, 250);
            context.drawImage(
                imageObj,
                0, 0, imageObj.width, imageObj.height,
                margin_left, margin_top, imageObj.width, imageObj.height
            );
        }

        </script>
    </body>
</html>
